# Database Configuration
MYSQL_ROOT_USER=root
MYSQL_ROOT_PASSWORD=notification_secret_pass
MYSQL_DATABASE=notification_db
MYSQL_HOST=mysql
MYSQL_PORT=3306

# API Service Configuration
API_PORT=3000

# Kafka Configuration
KAFKA_BROKER_LIST=kafka:9093
KAFKA_TOPIC=user-activity
KAFKA_GROUP_ID=notification-consumer-group
